<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(myForm)" #myForm="ngForm" novalidate>

  <div>

    <!-- The has-danger class has to appear after some modification, so the following does not work -->
    <!-- <div class="form-group row has-danger"> -->
    <div class="form-group row" [ngClass]="{'has-danger': (name.errors?.required || name.errors?.minlength) && name.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="name"
               [(ngModel)]="user.name"
               minlength="5"
               required
               #name="ngModel">

        <div *ngIf="name.errors?.required && name.touched" class="form-control-feedback">
          This is a required field.
        </div>

        <div *ngIf="name.errors?.minlength && name.touched" class="form-control-feedback">
          This field has to have at least {{name.errors.minlength.requiredLength}} letters.
        </div>

      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': lastName.errors?.required && lastName.touched}">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="lastName"
               [(ngModel)]="user.lastName"
               required
               #lastName="ngModel">

         <div *ngIf="lastName.errors?.required && lastName.touched" class="form-control-feedback">
           This is a required field.
         </div>

      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{'has-danger': (email.errors?.required || email.errors?.pattern) && email.touched}">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="user.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">

     <div *ngIf="email.errors?.required && email.touched" class="form-control-feedback">
       This is a required field.
     </div>

     <div *ngIf="email.errors?.pattern && email.touched" class="form-control-feedback">
        The email address is not correct.
     </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Country</label>
    <div class="col-md-8">
      <select [(ngModel)]="user.country" class="form-control" name="country">
        <option value="">Select a country</option>
        <option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</option>
      </select>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Gender</label>

    <!-- The following is a static way. -->
    <!-- <div class="col-md-8">
      <label class="custom-control custom-radio">
        <input id="gender" type="radio" name="gender" class="custom-control-input"
               [(ngModel)]="user.gender"
               value="Male">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Male</span>
      </label>

      <label class="custom-control custom-radio">
        <input id="gender" type="radio" name="gender" class="custom-control-input"
               [(ngModel)]="user.gender"
               value="Female">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Female</span>
      </label>
    </div> -->

    <div class="col-md-8">
      <label *ngFor="let gender of genders" class="custom-control custom-radio">
        <input id="gender" type="radio" name="gender" class="custom-control-input"
               [(ngModel)]="user.gender"
               [value]="gender">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ gender }}</span>
      </label>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Accept</label>
    <div class="input-group col-md-8">
      <label class="custom-control custom-checkbox">
        <input [(ngModel)]="user.accept"
               name="accept"
               type="checkbox" class="custom-control-input"
               required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Accept conditions?</span>
      </label>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!-- I need to send data for testing purposes, fot that reason, I need to disable validation. -->
      <!-- <button [disabled]="!myForm.valid" type="submit" class="btn btn-outline-primary"> -->
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>


<pre>
  {{ user | json }}
</pre>
