<app-navbar></app-navbar>

<div class="container main-container">

  <h1>Demos <small>angular</small> </h1>
  <hr>
  <!-- <app-ng-style></app-ng-style> -->

  <!-- <app-css></app-css>
  <p>Hello world from app.component</p> -->

  <!-- <app-classes></app-classes> -->

  <!-- This works with ElementRef. But what about if we want to bind some property? -->
  <!-- <p appHighlighted>Hello world</p> -->
  <!-- <p [appHighlighted]="'orange'">Hello world</p> -->

  <!-- <app-ng-switch></app-ng-switch> -->

  <router-outlet></router-outlet>

</div>
