<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/A-64.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- Active for seeing the menu higlighted -->
      <!-- Since we are not using any more the approach with #. href="#"
           (<a class="nav-link" href="#">Home</a>)
           is not going to work. So we need to follow another approach.
     -->
      <!-- <li class="nav-item active"> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" onsubmit="return false">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Hero" (keyup.enter)="searchHero(searchText.value)" #searchText>
      <button (click)="searchHero(searchText.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>
